<div class="container">
  <div style="width: 50%;display: inline;float: left;">
<h5>List of Products:</h5>
<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td>{{p.id}}</td>
      <td>{{p.productName}}
        <button class="btn btn-sm btn-danger" style="float: right;" (click)="deleteProduct(p)">X</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div style="width: 50%;display: inline;float: right;">
  <div class="card p-4 my-4 mx-3">
    <form >
      Product ID<br>
      <input type="number" name="id" id="id" [(ngModel)]="newProduct.id"><br>
      Product Name <br>
      <input type="text" name="name" id="name" [(ngModel)]="newProduct.productName"><br>
      <input type="submit" value="Add Product" class="btn btn-primary my-2" (click)="addProduct()">

    </form>
  </div>
</div>
</div>
<router-outlet></router-outlet>